@media(max-width: 1100px) {

   .logo {
      max-width: 80px;
   }

   .nav_title {
      font-size: 28px;
   }

   .sign_up {
      padding: 12px 20px;
      font-size: 18px;
   }

   .send_message {
      grid-gap: 25px;
      align-items: center;
      margin-left: 100px;
      grid-gap: 10px;
   }

   .input-message {
      width: 650px;
      margin-left: 10px;
      margin-bottom: 10px;
      font-size: 24px;
   }

   .Messege {
      font-size: 25px;
   }

   .btn-wrapp {
      padding-right: 15px;
   }

   .container {
      height: 85vh;
   }

   .btn_message {
      padding: 18px 20px 14px 20px;
   }
<<<<<<< HEAD

   .camera-input-label {

      padding: 18px 20px 14px 20px;
=======
   
   .camera-input-label {
	   
	   padding: 18px 20px 14px 20px;
>>>>>>> aff90ad2d7c50574a7143d2d811510510c4686df
   }
}