<!DOCTYPE html>
<html>

<head>
   <title>SMART TRASH</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
   <link rel="website icon" type="png" href="{{ url_for('static', filename='favicon.jpg') }}">
</head>

<body>
   <header class="header">


      <div class="wrap">
         <div class="nav">
            <img src="{{url_for('static', filename = 'logo.png')}}" alt="logo" class="logo">
            <p class="nav_title" class="logo_text">SMART TRASH</p>
         </div>
         <a href="#!" class="sign_up" id="open_pop_up">Войти</a>

      </div>

      <div class="pop_up" id="pop-up">
         <div class="pop_up_container">
            <div class="pop_up_close" id="pop-up-close">✖</div>
            <div class="pop_up_body">
               <h1>Registration</h1>
               <form action="/register" method="post">
                  <input type="text" placeholder="Имя пользователя" name="username" id="username">
                  <input type="tel" placeholder="Номер телефона" name="phone" id="phone">
                  <input type="password" placeholder="Пароль" name="password" id="password">
                  <button type="submit" id="register_btn">Вход</button>
               </form>
            </div>
         </div>
      </div>

   </header>

   <div class="container" id="chat">
      <!-- Сообщения будут добавляться здесь -->
   </div>

   <section class="send_message " id="chat">
      <input id="input" type="text" class="input-message" placeholder="Какой у тебя мусор?">
      <div> <a href="#!" class="btn_message" onclick="getValue()">Send</a></div>
   </section>

   <script src="{{ url_for('static', filename = 'main.js') }}"></script>

</body>

</html>