<!DOCTYPE html>
<html>

<head>
   <title>SMART TRASH</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='media.css') }}">
   <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
   <link rel="website icon" type="png" href="{{ url_for('static', filename='favicon.jpg') }}">
</head>

<body>
   <header class="header">


      <div class="wrap">
         <div class="nav">
            <img src="{{url_for('static', filename = 'logo.png')}}" alt="logo" class="logo">
            <p class="nav_title" class="logo_text">SMART TRASH</p>
         </div>
         <a href="#!" class="sign_up" id="open_pop_up">Войти</a>

      </div>

      <div class="pop_up" id="pop-up">
         <div class="pop_up_container">
            <div class="pop_up_close" id="pop-up-close">✖</div>
            <div class="pop_up_body">
               <h1>Вход</h1>
               {% if username %}
               <p>Добро пожаловать, {{ username }}!</p>
               {% else %}
               <form action="/login" method="post">
                  <label for="username">Имя пользователя:</label>
                  <input type="text" id="username" name="username"><br><br>
                  <label for="phone">Номер телефона:</label>
                  <input type="tel" id="phone" name="phone"><br><br>
                  <label for="password">Пароль:</label>
                  <input type="password" id="password" name="password"><br><br>
                  <input type="submit" value="Войти">
               </form>
               {% endif %}
            </div>
         </div>
      </div>

   </header>

   <div class="container" id="chat">
      <!-- Сообщения будут добавляться здесь -->
   </div>
   <section class="send_message ">
      <input id="input" type="text" class="input-message" placeholder="Какой у тебя мусор?">
      <div class="btn-wrapp">
         <a href="#!" class="btn_message" onclick="SendMessege()"><img src="{{url_for('static', filename = 'row.png')}}"
               alt=""></a>
      </div>

      <div style="width: max-content; height: auto; display: inline-block;">
         <label class="camera-input-label" for="camera-input">
            <input id="camera-input" type="file" accept="image/png, image/jpg, image/gif, image/jpeg"
               capture="environment" style="display: none;">
            <img class="camera-btn" src="{{url_for('static', filename = 'cameraIcon.svg')}}" alt="">
         </label>
      </div>
   </section>


   <script src="{{ url_for('static', filename = 'main.js') }}"></script>
</body>

</html>